requests
pycurl
pycrypto
pyOpenSSL
bjoern
Pillow
beaker
pyxmpp
thrift
Send2Trash
beautifulsoup
jinja2
feedparser
colorlog
simplejson
markupsafe
MultipartPostHandler
bottle
colorama
django<2.0
#tesseract
#gunicorn
